*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.marginA{
    margin: auto;
}

.marginT5{
    margin-top: 5px;
}
.marginT10{
    margin-top: 10px;
}
.marginT20{
    margin-top: 20px;
}
.marginT30{
    margin-top: 30px;
}
.marginT40{
    margin-top: 40px;
}
.marginT50{
    margin-top: 50px;
}
.marginT75{
    margin-top: 75px;
}
.marginT100{
    margin-top: 100px;
}

.marginB5{
    margin-bottom: 5px;
}
.marginB10{
    margin-bottom: 10px;
}
.marginB20{
    margin-bottom: 20px;
}
.marginB30{
    margin-bottom: 30px;
}
.marginB40{
    margin-bottom: 40px;
}
.marginB50{
    margin-bottom: 50px;
}
.marginB75{
    margin-bottom: 75px;
}
.marginB100{
    margin-bottom: 100px;
}

.marginL5{
    margin-left: 5px;
}
.marginL10{
    margin-left: 10px;
}
.marginL20{
    margin-left: 20px;
}
.marginL25{
    margin-left: 25px;
}
.marginL30{
    margin-left: 30px;
}
.marginL40{
    margin-left: 40px;
}
.marginL50{
    margin-left: 50px;
}
.marginL75{
    margin-left: 75px;
}
.marginL100{
    margin-left: 100px;
}

.marginR5{
    margin-right: 5px;
}
.marginR10{
    margin-right: 10px;
}
.marginR20{
    margin-right: 20px;
}
.marginR30{
    margin-right: 30px;
}
.marginR40{
    margin-right: 40px;
}
.marginR50{
    margin-right: 50px;
}

.paddingA{
    text-align: center;
}

.paddingT5{
    padding-top: 5px;
}
.paddingT10{
    padding-top: 10px;
}
.paddingT15{
    padding-top: 15px;
}
.paddingT20{
    padding-top: 20px;
}
.paddingT30{
    padding-top: 30px;
}
.paddingT40{
    padding-top: 40px;
}
.paddingT50{
    padding-top: 50px;
}

.paddingB5{
    padding-bottom: 5px;
}
.paddingB10{
    padding-bottom: 10px;
}
.paddingB20{
    padding-bottom: 20px;
}
.paddingB30{
    padding-bottom: 30px;
}
.paddingB40{
    padding-bottom: 40px;
}
.paddingB50{
    padding-bottom: 50px;
}

.paddingL5{
    padding-left: 5px;
}
.paddingL10{
    padding-left: 10px;
}
.paddingL20{
    padding-left: 20px;
}
.paddingL25{
    padding-left: 25px;
}
.paddingL30{
    padding-left: 30px;
}
.paddingL40{
    padding-left: 40px;
}
.paddingL50{
    padding-left: 50px;
}
.paddingL75{
    padding-left: 75px;
}
.paddingL100{
    padding-left: 100px;
}

.paddingR5{
    padding-right: 5px;
}
.paddingR10{
    padding-right: 10px;
}
.paddingR20{
    padding-right: 20px;
}
.paddingR30{
    padding-right: 30px;
}
.paddingR40{
    padding-right: 40px;
}
.paddingR50{
    padding-right: 50px;
}

.floatL{
    float: left;
}
.floatR{
    float: right;
}
.floatNone{
    clear: both;
}