.Wfit{
    width: fit-content;
}
.W5per{
    width: 5%;
}
.W10per{
    width: 10%;
}
.W20per{
    width: 20%;
}
.W30per{
    width: 30%;
}
.W40per{
    width: 40%;
}
.W50per{
    width: 50%;
}
.W60per{
    width: 60%;
}
.W70per{
    width: 70%;
}
.W80per{
    width: 80%;
}
.W90per{
    width: 90%;
}
.W100per{
    width: 100%;
}

.W10px{
    width: 10px;
}
.W20px{
    width: 20px;
}
.W30px{
    width: 30px;
}
.W40px{
    width: 40px;
}
.W50px{
    width: 50px;
}
.W60px{
    width: 60px;
}
.W70px{
    width: 70px;
}
.W80px{
    width: 80px;
}
.W90px{
    width: 90px;
}
.W100px{
    width: 100px;
}
.W125px{
    width: 125px;
}
.W150px{
    width: 150px;
}
.W175px{
    width: 175px;
}
.W200px{
    width: 200px;
}
.W300px{
    width: 300px;
}
.W400px{
    width: 400px;
}
.W500px{
    width: 500px;
}
.W600px{
    width: 600px;
}
.W700px{
    width: 700px;
}
.W750px{
    width: 750px;
}
.W1000px{
    width: 1000px;
}

.Hfit{
    height: fit-content;
}
.H10px{
    height: 10px;
}
.H20px{
    height: 20px;
}
.H30px{
    height: 30px;
}
.H40px{
    height: 40px;
}
.H50px{
    height: 50px;
}
.H60px{
    height: 60px;
}
.H70px{
    height: 70px;
}
.H80px{
    height: 80px;
}
.H90px{
    height: 90px;
}
.H100px{
    height: 100px;
}
.H125px{
    height: 125px;
}
.H150px{
    height: 150px;
}
.H175px{
    height: 175px;
}
.H200px{
    height: 200px;
}
.H300px{
    height: 300px;
}
.H400px{
    height: 400px;
}
.H500px{
    height: 500px;
}
.H750px{
    height: 750px;
}
.H1000px{
    height: 1000px;
}